.container {
    display: flex;
    align-items: center;
    height: 100vh;
    padding-top: 56px;
    justify-content: center;
    flex-direction: column;
}

.container * {
    overflow: visible !important;
}

.title {
    font-size: 36px;
}

.secondary {
    font-size: 20px;
    font-weight: 500;
    color: rgb(102, 102, 102);
    margin: 10px 0;
}

.description {
    font-size: 18px;
    color: gray;
    max-width: 350px;
    padding: 0;
    margin: 0 !important;
}

.avatar {
    border-radius: 150px 5px 150px 150px;
    box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.3);
}

.university {
    border-radius: 150px;
    box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.3);
    overflow: visible;
    box-sizing: border-box;
}

.contactList {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.contactChannel {
    color: black;
    text-decoration: none;
}

.contactChannel svg {
    margin-right: 5px;
}

.contactDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contactDetail a {
    text-decoration: none;
}