body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FBFAFF !important;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif !important;
  overflow-y: hidden;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 940px !important;
  }
}

.navbar-brand {
  font-size: 16px;
  font-weight: 500;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar.navbar-light.bg-light {
  background-color: #FBFAFF !important;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
  font-weight: 500;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #6D54E2;
}

.navbar-light .navbar-nav .nav-link.active:hover {
  color: #6D54E2;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #6C55E1;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 1rem;
      padding-left: 1rem;
  }
}

.navbar-toggler {
  border: none;
  padding-right: 0;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}